*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #545442;
    color: #ffffee;
    text-align: center;
    padding-top: 15rem;
}

form{
    padding: 2rem;
    margin: 0px auto;
    border: solid 1px #ffffee;
    width: 40rem;
    border-radius: 1rem;
}

h1{
    font-size: 3rem;
}

label{
    font-size: 1.5rem;
}

input{
    width: 15rem;
    height: 1.5rem;
    border-radius: .7rem;
    font-size: 1.2rem;
    padding: 1rem .2rem;
}

#submit{
    font-size: 1.5rem;
    padding: .2rem .5rem;
    border-radius: .5rem;
    background-color: #2d2e2c;
    border-color: #535352;
    color: #ffffee;
    transition: 500ms;
}
#submit:hover{
    background-color: #5f615d;
    color: #ffffff;
}