*{
    margin: 0px;
    padding: 0px;
}

header{
    margin: 25px;
}

li{
    background-color: #1c1a1d;
    border-radius: 3px;
    border: 4px solid transparent;
    color: #fff;
    width: 320px;
    height: 200px;
    padding: 30px;
    margin: 20px;
    display: inline-block;
}

.selected{
    background-color: #2D2D2C;
    border: 4px solid #0088D8;
    
}

.hidden{
    display: none;
}